*{
	padding: 0;
	margin: 0;
}

body{
	background-image: url(desk.jpg);
	width: 100%;
	height: 100vh;
	background-size:cover;
	background-repeat: no-repeat; 
	background-position: center;
	box-sizing: border-box;
	font-family: sans-serif;
}